/src/Application/Application/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/src/Application/Common/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/src/Application/Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/src/Application/Infrastructure/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/src/Application/WebApi/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/src/Application/WebApi/obj/Debug/net9.0/apphost.exe
/src/Application/Application/obj/Debug/net9.0/Applicat.44B5EDA2.Up2Date
/src/Application/Application/obj/Debug/net9.0/Application.AssemblyInfo.cs
/src/Application/Application/obj/Debug/net9.0/Application.AssemblyInfoInputs.cache
/src/Application/Application/obj/Debug/net9.0/Application.assets.cache
/src/Application/Application/obj/Debug/net9.0/Application.csproj.AssemblyReference.cache
/src/Application/Application/obj/Debug/net9.0/Application.csproj.CoreCompileInputs.cache
/src/Application/Application/obj/Debug/net9.0/Application.csproj.FileListAbsolute.txt
/src/Application/Application/obj/Application.csproj.nuget.dgspec.json
/src/Application/Application/obj/Application.csproj.nuget.g.props
/src/Application/Application/obj/Application.csproj.nuget.g.targets
/src/Application/Application/bin/Debug/net9.0/Application.deps.json
/src/Application/Application/bin/Debug/net9.0/Application.dll
/src/Application/Application/obj/Debug/net9.0/ref/Application.dll
/src/Application/Application/obj/Debug/net9.0/refint/Application.dll
/src/Application/Application/obj/Debug/net9.0/Application.dll
/src/Application/Infrastructure/bin/Debug/net9.0/Application.dll
/src/Application/WebApi/bin/Debug/net9.0/Application.dll
/src/Application/Application/obj/Debug/net9.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/src/Application/Application/obj/Debug/net9.0/Application.GlobalUsings.g.cs
/src/Application/Application/bin/Debug/net9.0/Application.pdb
/src/Application/Application/obj/Debug/net9.0/Application.pdb
/src/Application/Infrastructure/bin/Debug/net9.0/Application.pdb
/src/Application/WebApi/bin/Debug/net9.0/Application.pdb
/src/Application/WebApi/bin/Debug/net9.0/appsettings.Development.json
/src/Application/WebApi/bin/Debug/net9.0/appsettings.json
/src/Application/WebApi/bin/Debug/net9.0/Azure.Core.dll
/src/Application/WebApi/bin/Debug/net9.0/Azure.Identity.dll
/src/Application/Common/obj/Debug/net9.0/Common.AssemblyInfo.cs
/src/Application/Common/obj/Debug/net9.0/Common.AssemblyInfoInputs.cache
/src/Application/Common/obj/Debug/net9.0/Common.assets.cache
/src/Application/Common/obj/Debug/net9.0/Common.csproj.CoreCompileInputs.cache
/src/Application/Common/obj/Debug/net9.0/Common.csproj.FileListAbsolute.txt
/src/Application/Common/obj/Common.csproj.nuget.dgspec.json
/src/Application/Common/obj/Common.csproj.nuget.g.props
/src/Application/Common/obj/Common.csproj.nuget.g.targets
/src/Application/Common/bin/Debug/net9.0/Common.deps.json
/src/Application/Application/bin/Debug/net9.0/Common.dll
/src/Application/Common/bin/Debug/net9.0/Common.dll
/src/Application/Common/obj/Debug/net9.0/ref/Common.dll
/src/Application/Common/obj/Debug/net9.0/refint/Common.dll
/src/Application/Common/obj/Debug/net9.0/Common.dll
/src/Application/Infrastructure/bin/Debug/net9.0/Common.dll
/src/Application/WebApi/bin/Debug/net9.0/Common.dll
/src/Application/Common/obj/Debug/net9.0/Common.GeneratedMSBuildEditorConfig.editorconfig
/src/Application/Common/obj/Debug/net9.0/Common.GlobalUsings.g.cs
/src/Application/Application/bin/Debug/net9.0/Common.pdb
/src/Application/Common/bin/Debug/net9.0/Common.pdb
/src/Application/Common/obj/Debug/net9.0/Common.pdb
/src/Application/Infrastructure/bin/Debug/net9.0/Common.pdb
/src/Application/WebApi/bin/Debug/net9.0/Common.pdb
/src/Application/Domain/obj/Debug/net9.0/Domain.AssemblyInfo.cs
/src/Application/Domain/obj/Debug/net9.0/Domain.AssemblyInfoInputs.cache
/src/Application/Domain/obj/Debug/net9.0/Domain.assets.cache
/src/Application/Domain/obj/Debug/net9.0/Domain.csproj.CoreCompileInputs.cache
/src/Application/Domain/obj/Debug/net9.0/Domain.csproj.FileListAbsolute.txt
/src/Application/Domain/obj/Domain.csproj.nuget.dgspec.json
/src/Application/Domain/obj/Domain.csproj.nuget.g.props
/src/Application/Domain/obj/Domain.csproj.nuget.g.targets
/src/Application/Domain/bin/Debug/net9.0/Domain.deps.json
/src/Application/Application/bin/Debug/net9.0/Domain.dll
/src/Application/Domain/bin/Debug/net9.0/Domain.dll
/src/Application/Domain/obj/Debug/net9.0/ref/Domain.dll
/src/Application/Domain/obj/Debug/net9.0/refint/Domain.dll
/src/Application/Domain/obj/Debug/net9.0/Domain.dll
/src/Application/Infrastructure/bin/Debug/net9.0/Domain.dll
/src/Application/WebApi/bin/Debug/net9.0/Domain.dll
/src/Application/Domain/obj/Debug/net9.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/Application/Domain/obj/Debug/net9.0/Domain.GlobalUsings.g.cs
/src/Application/Application/bin/Debug/net9.0/Domain.pdb
/src/Application/Domain/bin/Debug/net9.0/Domain.pdb
/src/Application/Domain/obj/Debug/net9.0/Domain.pdb
/src/Application/Infrastructure/bin/Debug/net9.0/Domain.pdb
/src/Application/WebApi/bin/Debug/net9.0/Domain.pdb
/src/Application/WebApi/bin/Debug/net9.0/Humanizer.dll
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastr.15EFFBFE.Up2Date
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfo.cs
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfoInputs.cache
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.assets.cache
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.AssemblyReference.cache
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.CoreCompileInputs.cache
/src/Application/Infrastructure/obj/Infrastructure.csproj.EntityFrameworkCore.targets
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.FileListAbsolute.txt
/src/Application/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/src/Application/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/src/Application/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/src/Application/Infrastructure/bin/Debug/net9.0/Infrastructure.deps.json
/src/Application/Infrastructure/bin/Debug/net9.0/Infrastructure.dll
/src/Application/Infrastructure/obj/Debug/net9.0/ref/Infrastructure.dll
/src/Application/Infrastructure/obj/Debug/net9.0/refint/Infrastructure.dll
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.dll
/src/Application/WebApi/bin/Debug/net9.0/Infrastructure.dll
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.genruntimeconfig.cache
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.GlobalUsings.g.cs
/src/Application/Infrastructure/bin/Debug/net9.0/Infrastructure.pdb
/src/Application/Infrastructure/obj/Debug/net9.0/Infrastructure.pdb
/src/Application/WebApi/bin/Debug/net9.0/Infrastructure.pdb
/src/Application/Infrastructure/bin/Debug/net9.0/Infrastructure.runtimeconfig.json
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Build.Locator.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
/src/Application/WebApi/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/src/Application/WebApi/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
/src/Application/WebApi/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/src/Application/WebApi/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/src/Application/WebApi/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Data.SqlClient.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Identity.Core.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Identity.Stores.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Identity.Client.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Identity.Client.Extensions.Msal.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.OpenApi.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.SqlServer.Server.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/src/Application/WebApi/bin/Debug/net9.0/Microsoft.Win32.SystemEvents.dll
/src/Application/WebApi/bin/Debug/net9.0/Mono.TextTemplating.dll
/src/Application/Application/obj/project.assets.json
/src/Application/Common/obj/project.assets.json
/src/Application/Domain/obj/project.assets.json
/src/Application/Infrastructure/obj/project.assets.json
/src/Application/WebApi/obj/project.assets.json
/src/Application/Application/obj/project.nuget.cache
/src/Application/Common/obj/project.nuget.cache
/src/Application/Domain/obj/project.nuget.cache
/src/Application/Infrastructure/obj/project.nuget.cache
/src/Application/WebApi/obj/project.nuget.cache
/src/Application/Application/obj/project.packagespec.json
/src/Application/Common/obj/project.packagespec.json
/src/Application/Domain/obj/project.packagespec.json
/src/Application/Infrastructure/obj/project.packagespec.json
/src/Application/WebApi/obj/project.packagespec.json
/src/Application/Application/obj/rider.project.model.nuget.info
/src/Application/Common/obj/rider.project.model.nuget.info
/src/Application/Domain/obj/rider.project.model.nuget.info
/src/Application/Infrastructure/obj/rider.project.model.nuget.info
/src/Application/WebApi/obj/rider.project.model.nuget.info
/src/Application/Application/obj/rider.project.restore.info
/src/Application/Common/obj/rider.project.restore.info
/src/Application/Domain/obj/rider.project.restore.info
/src/Application/Infrastructure/obj/rider.project.restore.info
/src/Application/WebApi/obj/rider.project.restore.info
/src/Application/WebApi/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/src/Application/WebApi/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/src/Application/WebApi/obj/Debug/net9.0/rpswa.dswa.cache.json
/src/Application/WebApi/bin/Debug/net9.0/Scalar.AspNetCore.dll
/src/Application/WebApi/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/src/Application/WebApi/obj/Debug/net9.0/staticwebassets.build.json
/src/Application/WebApi/obj/Debug/net9.0/staticwebassets.build.json.cache
/src/Application/WebApi/bin/Debug/net9.0/System.ClientModel.dll
/src/Application/WebApi/bin/Debug/net9.0/System.CodeDom.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Composition.AttributedModel.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Composition.Convention.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Composition.Hosting.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Composition.Runtime.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Composition.TypedParts.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Drawing.Common.dll
/src/Application/WebApi/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Memory.Data.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Runtime.Caching.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Security.Permissions.dll
/src/Application/WebApi/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/src/Application/WebApi/bin/Debug/net9.0/System.Windows.Extensions.dll
/src/Application/WebApi/obj/Debug/net9.0/WebApi.AssemblyInfo.cs
/src/Application/WebApi/obj/Debug/net9.0/WebApi.AssemblyInfoInputs.cache
/src/Application/WebApi/obj/Debug/net9.0/WebApi.assets.cache
/src/Application/WebApi/obj/Debug/net9.0/WebApi.csproj.AssemblyReference.cache
/src/Application/WebApi/obj/Debug/net9.0/WebApi.csproj.CoreCompileInputs.cache
/src/Application/WebApi/obj/Debug/net9.0/WebApi.csproj.FileListAbsolute.txt
/src/Application/WebApi/obj/WebApi.csproj.nuget.dgspec.json
/src/Application/WebApi/obj/WebApi.csproj.nuget.g.props
/src/Application/WebApi/obj/WebApi.csproj.nuget.g.targets
/src/Application/WebApi/obj/Debug/net9.0/WebApi.csproj.Up2Date
/src/Application/WebApi/bin/Debug/net9.0/WebApi.deps.json
/src/Application/WebApi/bin/Debug/net9.0/WebApi.dll
/src/Application/WebApi/obj/Debug/net9.0/ref/WebApi.dll
/src/Application/WebApi/obj/Debug/net9.0/refint/WebApi.dll
/src/Application/WebApi/obj/Debug/net9.0/WebApi.dll
/src/Application/WebApi/bin/Debug/net9.0/WebApi.exe
/src/Application/WebApi/obj/Debug/net9.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
/src/Application/WebApi/obj/Debug/net9.0/WebApi.genruntimeconfig.cache
/src/Application/WebApi/obj/Debug/net9.0/WebApi.GlobalUsings.g.cs
/src/Application/WebApi/obj/Debug/net9.0/WebApi.MvcApplicationPartsAssemblyInfo.cache
/src/Application/WebApi/obj/Debug/net9.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
/src/Application/WebApi/bin/Debug/net9.0/WebApi.pdb
/src/Application/WebApi/obj/Debug/net9.0/WebApi.pdb
/src/Application/WebApi/bin/Debug/net9.0/WebApi.runtimeconfig.json
/src/Application/WebApi/bin/Debug/net9.0/WebApi.staticwebassets.endpoints.json
